SECRET_KEY=change-me-in-production
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
# Production (Fly.io) : ex. https://ton-site.fly.dev
DJANGO_CSRF_TRUSTED_ORIGINS=

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=levilognon7@gmail.com
EMAIL_HOST_PASSWORD=your_app_password_here
EMAIL_USE_TLS=True
DEFAULT_FROM_EMAIL=levilognon7@gmail.com
CONTACT_RECEIVER_EMAIL=levilognon7@gmail.com
